# LISTE PRODUITS

In [14]:
# pip install mysqlclient
# python.exe -m pip install mysql-connector-python

Requirement already satisfied: mysqlclient in c:\users\mohamed rendjambe\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import mysql.connector as sql

In [3]:
#Connexion a la bse de donnéé
# Paramètres de connexion à la base de données MySQL
host = "localhost"  # L'adresse de votre serveur MySQL a changer en input
user = "dama"  # Votre nom d'utilisateur MySQL
password = "dama02"  # Votre mot de passe MySQL
database = "projet_boutique"  # Le nom de votre base de données MySQL

# Établir une connexion
conn = sql.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

In [4]:
query = "SELECT * FROM articles"  # Remplacez 'articles' par le nom de votre table
query1= "SELECT * FROM bank_group"
query2= "SET AUTOCOMMIT=0"
#query3  = "UPDATE bank_group SET solde = nouveau_solde_client WHERE num_compte = id_payeur"  #update_solde_query
    #cursor.execute(update_solde_query)

ARTICLES = pd.read_sql(query, conn) #.set_index('Code_p')
CB = pd.read_sql(query1, conn)

ARTICLES=   ARTICLES.set_index('Code_p')
CB=   CB.set_index('num_compte')
#conn.close()
print(ARTICLES)
print(CB)
#conn.close()

#Validez la transaction
conn.commit()

                       Type          Marque  prix  stock
Code_p
1                   Chemise       Hugo Boss    60    -20
2                     Jeans    Levi Strauss    70     10
3                   T-shirt            Nike    30    120
4                   Costume    Calvin Klein   200     50
5                      Polo         Lacoste    50     70
6                     Veste  The North Face   120     60
7                      Pull  Tommy Hilfiger    80     90
8                    Shorts          Adidas    40    110
9                    Blazer    Ralph Lauren   150     40
10          Sweat à capuche            Puma    55     75
11      Chaussures de sport     New Balance    90     65
12          Blouson en cuir           Guess   180     30
13                    Chino         Dockers    50     85
14                  Manteau        Burberry   250     25
15                Casquette    Under Armour    20    150
            Type_compte     prenom        nom   mdp   solde
num_compte
1              Boutique  Chic_Mode  Boutique1  1234   55200
2              Boutique      Class  Boutique2  5678   80000
3              Boutique  Chez Diop  Boutique3  9012   65000
4           Particulier     Amadou       Diop  1111  300000
5           Particulier   Aïssatou        Sow  2222  450000
6           Particulier      Kwame     Appiah  3333  600000
7           Particulier  Fatoumata     Diallo  4444  350000
8           Particulier    Ibrahim     Traoré  5555  700000
9           Particulier      Amina      Toure  6666  550000
10          Particulier  Abdoulaye      Barry  7777  400000
11          Particulier   Kadiatou     Camara  8888  750000
12          Particulier   Boubacar      Keïta  9999  480000
13          Particulier      Aïcha     Konaté  1010  520000
14          Particulier      Samba     Ndiaye  1212  680000
15          Particulier   Aïssatou     Diallo  1313  604800

C:\Users\MOHAMED RENDJAMBE\AppData\Local\Temp\ipykernel_14140\2873437708.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ARTICLES = pd.read_sql(query, conn) #.set_index('Code_p')
C:\Users\MOHAMED RENDJAMBE\AppData\Local\Temp\ipykernel_14140\2873437708.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  CB = pd.read_sql(query1, conn)

In [5]:
print(ARTICLES)
#conn.close()

                       Type          Marque  prix  stock
Code_p
1                   Chemise       Hugo Boss    60    -20
2                     Jeans    Levi Strauss    70     10
3                   T-shirt            Nike    30    120
4                   Costume    Calvin Klein   200     50
5                      Polo         Lacoste    50     70
6                     Veste  The North Face   120     60
7                      Pull  Tommy Hilfiger    80     90
8                    Shorts          Adidas    40    110
9                    Blazer    Ralph Lauren   150     40
10          Sweat à capuche            Puma    55     75
11      Chaussures de sport     New Balance    90     65
12          Blouson en cuir           Guess   180     30
13                    Chino         Dockers    50     85
14                  Manteau        Burberry   250     25
15                Casquette    Under Armour    20    150

# BOUTIQUES

In [6]:
BOUTIQUE = ARTICLES

In [7]:
print(ARTICLES)

                       Type          Marque  prix  stock
Code_p
1                   Chemise       Hugo Boss    60    -20
2                     Jeans    Levi Strauss    70     10
3                   T-shirt            Nike    30    120
4                   Costume    Calvin Klein   200     50
5                      Polo         Lacoste    50     70
6                     Veste  The North Face   120     60
7                      Pull  Tommy Hilfiger    80     90
8                    Shorts          Adidas    40    110
9                    Blazer    Ralph Lauren   150     40
10          Sweat à capuche            Puma    55     75
11      Chaussures de sport     New Balance    90     65
12          Blouson en cuir           Guess   180     30
13                    Chino         Dockers    50     85
14                  Manteau        Burberry   250     25
15                Casquette    Under Armour    20    150

# LISTE ACHATS

In [9]:
# Initialisation du panier et du total de la facture
#Le bon
panier = {}  # Utilisez un dictionnaire pour stocker le panier
facture = 0

# Boucle pour ajouter des produits au panier
while True:
    # Afficher la liste des produits disponibles (assurez-vous que ARTICLES est défini)
    print(ARTICLES)

    # Demander à l'utilisateur de choisir un produit
    choix_produit = int(input("Saisir le numéro du produit pour l'ajouter à votre panier (1, 2, 3, etc.) ou 0 pour terminer : "))

    if choix_produit == 0:
        break  # Sortir de la boucle si l'utilisateur choisit de terminer

    # Vérifier si le choix de produit est valide
    if choix_produit not in ARTICLES.index:
        print("Choix de produit invalide.")
        continue

    produit_selectionne = ARTICLES.loc[choix_produit]

    # Demander à l'utilisateur la quantité souhaitée
    choix_quantite = int(input(f"Saisir la quantité souhaitée (stock disponible : {produit_selectionne['stock']} pièces) : "))

    # Vérifier si la quantité est inférieure ou égale au stock disponible
    if choix_quantite > produit_selectionne['stock']:
        print("Quantité choisie supérieure au stock disponible.")
        continue

    # Calculer le coût du produit choisi
    cout_produit = produit_selectionne['prix'] * choix_quantite

    # Ajouter le produit au panier
    panier[choix_produit] = {
        'id_produit': produit_selectionne.index,
        'nom': produit_selectionne['Marque'],
        'prix_unitaire': produit_selectionne['prix'],
        'quantite': choix_quantite,
        'prix_total': (produit_selectionne['prix'] * choix_quantite)
    }

    # Mettre à jour le stock du produit choisi
    ARTICLES.loc[choix_produit, 'stock'] -= choix_quantite

    # Mettre à jour la facture totale
    facture += cout_produit

    # Afficher la liste complète du panier
    print("Contenu complet du panier :")
    for produit_id, details_produit in panier.items():
        id_produit= produit_selectionne.index
        nom_produit = details_produit['nom']
        prix_unitaire = details_produit['prix_unitaire']
        quantite = details_produit['quantite']
        cout_produit = prix_unitaire * quantite

        #print(f"Produit : {nom_produit}, Prix unitaire : {prix_unitaire} FCFA, Quantité : {quantite}, Coût total : {cout_produit} FCFA")
        #print(f"{choix_quantite} {produit_selectionne['Marque']} ajouté(s) au panier pour un total de {cout_produit} FCFA.")
        #print(f"Votre panier actuel est de {facture} FCFA.")
        #print(f"Stock restant pour {produit_selectionne['Marque']} : {produit_selectionne['stock']} pièces.")
        #print("\n")

# Afficher le montant total de la facture
print(pd.DataFrame(panier))
print(f"Le montant de votre facture est de {facture} FCFA.")

                       Type          Marque  prix  stock
Code_p
1                   Chemise       Hugo Boss    60    -20
2                     Jeans    Levi Strauss    70     10
3                   T-shirt            Nike    30    120
4                   Costume    Calvin Klein   200     50
5                      Polo         Lacoste    50     70
6                     Veste  The North Face   120     60
7                      Pull  Tommy Hilfiger    80     90
8                    Shorts          Adidas    40    110
9                    Blazer    Ralph Lauren   150     40
10          Sweat à capuche            Puma    55     75
11      Chaussures de sport     New Balance    90     65
12          Blouson en cuir           Guess   180     30
13                    Chino         Dockers    50     85
14                  Manteau        Burberry   250     25
15                Casquette    Under Armour    20    150
Contenu complet du panier :
                       Type          Marque  prix  stock
Code_p
1                   Chemise       Hugo Boss    60    -20
2                     Jeans    Levi Strauss    70      5
3                   T-shirt            Nike    30    120
4                   Costume    Calvin Klein   200     50
5                      Polo         Lacoste    50     70
6                     Veste  The North Face   120     60
7                      Pull  Tommy Hilfiger    80     90
8                    Shorts          Adidas    40    110
9                    Blazer    Ralph Lauren   150     40
10          Sweat à capuche            Puma    55     75
11      Chaussures de sport     New Balance    90     65
12          Blouson en cuir           Guess   180     30
13                    Chino         Dockers    50     85
14                  Manteau        Burberry   250     25
15                Casquette    Under Armour    20    150
                                                               2
id_produit     Index(['Type', 'Marque', 'prix', 'stock'], dty...
nom                                                 Levi Strauss
prix_total                                                   350
prix_unitaire                                                 70
quantite                                                       5
Le montant de votre facture est de 350 FCFA.

# COMPTES CLIENTS BANK

In [10]:
#query = "SELECT * FROM BANK_GROUP"  # Remplacez 'articles' par le nom de votre table
#CB = pd.read_sql(query, conn) #.set_index('Code_p')

#CB=df.set_index('num_compte')
#conn.close()
print(CB)

            Type_compte     prenom        nom   mdp   solde
num_compte
1              Boutique  Chic_Mode  Boutique1  1234   55200
2              Boutique      Class  Boutique2  5678   80000
3              Boutique  Chez Diop  Boutique3  9012   65000
4           Particulier     Amadou       Diop  1111  300000
5           Particulier   Aïssatou        Sow  2222  450000
6           Particulier      Kwame     Appiah  3333  600000
7           Particulier  Fatoumata     Diallo  4444  350000
8           Particulier    Ibrahim     Traoré  5555  700000
9           Particulier      Amina      Toure  6666  550000
10          Particulier  Abdoulaye      Barry  7777  400000
11          Particulier   Kadiatou     Camara  8888  750000
12          Particulier   Boubacar      Keïta  9999  480000
13          Particulier      Aïcha     Konaté  1010  520000
14          Particulier      Samba     Ndiaye  1212  680000
15          Particulier   Aïssatou     Diallo  1313  604800

# FACTURE

In [15]:
#Test avec panier multiple pour sql

# Valider le paiement du client
#okok
paiement = 0
max_tentatives_mdp = 3  # Définir le nombre maximum de tentatives pour le mot de passe
choix_paiement = int(input("Souhaitez-vous régler votre facture de " + str(facture) + " FCFA ? Choisissez : oui = 1 / non = 0 : "))

while paiement < 1:
    if choix_paiement == 1:
        id_payeur = int(input("Veuillez renseigner votre identifiant payeur : "))

        # Vérifier si l'identifiant payeur est valide
        while id_payeur not in CB.index:
            print("Identifiant payeur invalide.")
            id_payeur = int(input("Veuillez renseigner votre identifiant payeur : "))
            print(CB.index)

        mdp_correct = CB.loc[id_payeur, 'mdp']
        tentatives = 0  # Compteur de tentatives

        while tentatives < max_tentatives_mdp:
            mdp = int(input("Veuillez renseigner votre mot de passe : "))

            # Vérifier si le mot de passe est correct
            if mdp == mdp_correct:
                id_boutique = int(input("Veuillez renseigner identifiant de la boutique : "))

                # Vérifier si l'identifiant de la boutique est valide
                while id_boutique not in CB.index:
                    id_boutique = ""
                    
                    id_boutique = input("Veuillez renseigner identifiant de la boutique : ")
                    print("Identifiant boutique invalide.")


                if facture==0:
                    print("Vous n'avez pas de facture")
                    print("Souhaitez vous effectuer un autre echat")
                else:
                    print("Les identifiants sont corrects.")
                    #ancien_solde = CB.loc[id_payeur, 'solde']
                    #nouveau_solde = ancien_solde - facture
                    #CB.loc[id_payeur, 'solde'] = nouveau_solde
                    
                    ancien_solde_client = CB.loc[id_payeur, 'solde']
                    if facture> ancien_solde_client:
                        print("votre solde est insufisant")
                        print("merci de recharger votre compte")
                        facture=0
                    else:
                        nouveau_solde_client = ancien_solde_client - facture
                        ancien_solde_boutique = CB.loc[id_boutique, 'solde']
                        nouveau_solde_boutique = ancien_solde_boutique + facture
                        print("Vous avez payé votre facture qui s'élevait à : " + str(facture) + " FCFA")
                        print("Votre nouveau solde : " + str(nouveau_solde_client) + " FCFA")
                        print("Le nouveau solde boutique : " + str(nouveau_solde_boutique) + " FCFA")
                #panier=0
                #facture=0
                paiement = 2
                print(facture)
                print(paiement)
                break  # Sortir de la boucle de tentative si la transaction réussit
            else:
                print("Mot de passe incorrect.")
                tentatives += 1
                if tentatives < max_tentatives_mdp:
                    print("Il vous reste " + str(max_tentatives_mdp - tentatives) + " tentatives.")

        # Si le nombre maximum de tentatives est atteint, afficher un message et quitter
        if tentatives == max_tentatives_mdp:
            print("Nombre maximum de tentatives atteint. Veuillez contacter votre conseiller client.")
            break
    elif choix_paiement == 0:
        paiement = 2
        print("Merci Cher client pour votre passage" + "\n" + "À la prochaine !")
    else:
        paiement = 0
        print("Vous devez faire un choix valide entre 1 pour valider et 0 pour annuler")

Les identifiants sont corrects.
Vous avez payé votre facture qui s'élevait à : 350 FCFA
Votre nouveau solde : 604450 FCFA
Le nouveau solde boutique : 55550 FCFA
350
2

In [16]:


# Remplacez les informations de connexion par les vôtres
#db_config = {
#    "host": "votre_hote_mysql",
#    "user": "votre_utilisateur",
#    "password": "votre_mot_de_passe",
#    "database": "votre_base_de_donnees"
#}

# Créez une connexion à la base de données MySQL
#conn = mysql.connector.connect(**db_config)

# Créez un curseur pour exécuter des requêtes SQL
#cursor = conn.cursor()


# Paramètres
solde1 = nouveau_solde_client  # Remplacez par le numéro de la facture concernée
solde_boutique = nouveau_solde_boutique    # Remplacez par le coût de l'achat
id_boutique = id_boutique    # Remplacez par l'identifiant de la boutique
id_client=id_payeur
id_update=id_produit
for id_produit in panier:
    quantite_a_deduire =  choix_quantite
#else:
    #print("L'article choisi n'existe pas dans le panier.")
#for produit_id in panier:
    #panier.get



try:
    # Créez un curseur pour exécuter des requêtes SQL
    cursor = conn.cursor()
    # Débutez une transaction
    conn.start_transaction()

    # update solde client
    update_solde_client = "UPDATE bank_group SET solde = %s WHERE num_compte = %s"
    value=(int(nouveau_solde_client), id_payeur)
    cursor.execute(update_solde_client,value)
    #update solde boutique
    update_solde_boutique = "UPDATE bank_group SET solde = %s WHERE num_compte = %s"
    value=(int(nouveau_solde_boutique), id_boutique)
    cursor.execute(update_solde_boutique,value)
    #conn.rollback()
                    #conn.commit()

                    #conn.start_transaction()
     #update stock boutique
    update_stock_boutique = "UPDATE articles SET stock =stock - %s WHERE code_p = %s"
    value=(int(quantite_a_deduire), id_produit)
    cursor.execute(update_stock_boutique,value)
    #choix_produit
    #choix_quantité

    #query2= "SELECT * FROM bank_group where num_compte= %s"
    #value2=(id_payeur)
    #cursor.execute(query2,value2)
    # Ajoutez le coût de la boutique
    #update_boutique_query = "UPDATE Boutiques SET Solde = Solde + %s WHERE IDBoutique = %s"
    #cursor.execute(update_boutique_query, (cout_achat, id_boutique))



    #conn.start_transaction()
    # Effectuez des mises à jour sur la table Articles
    # Par exemple, vous pouvez effectuer une mise à jour comme ceci :
    #update_query = "insert operations_log  SET quantite = 10 WHERE code_produit = 1"
    #cursor.execute(update_query)

    #conn.commit()
    print("Opérations réussies. Transaction validée.")
    #print("votre nouveau solde est", value)
    #print(query2)
    #panier=0
    facture=0

except Exception as e:
    # En cas d'erreur, annulez la transaction
    conn.rollback()
    print("Erreur : Transaction annulée. Erreur :", str(e))

finally:
    # Validez la transaction
    conn.commit()
    # Fermez le curseur et la connexion à la base de données
    #cursor.close()
    #conn.close()

Opérations réussies. Transaction validée.

In [17]:
query = "SELECT * FROM articles"  # Remplacez 'articles' par le nom de votre table
query1= "SELECT * FROM bank_group"
#query3  = "UPDATE bank_group SET solde = nouveau_solde_client WHERE num_compte = id_payeur"  #update_solde_query
    #cursor.execute(update_solde_query)

ARTICLES = pd.read_sql(query, conn) #.set_index('Code_p')
CB = pd.read_sql(query1, conn)

ARTICLES=   ARTICLES.set_index('Code_p')
CB=   CB.set_index('num_compte')
#conn.close()
print(ARTICLES)
print(CB)
cursor.close()
conn.close()

                       Type          Marque  prix  stock
Code_p
1                   Chemise       Hugo Boss    60    -20
2                     Jeans    Levi Strauss    70      5
3                   T-shirt            Nike    30    120
4                   Costume    Calvin Klein   200     50
5                      Polo         Lacoste    50     70
6                     Veste  The North Face   120     60
7                      Pull  Tommy Hilfiger    80     90
8                    Shorts          Adidas    40    110
9                    Blazer    Ralph Lauren   150     40
10          Sweat à capuche            Puma    55     75
11      Chaussures de sport     New Balance    90     65
12          Blouson en cuir           Guess   180     30
13                    Chino         Dockers    50     85
14                  Manteau        Burberry   250     25
15                Casquette    Under Armour    20    150
            Type_compte     prenom        nom   mdp   solde
num_compte
1              Boutique  Chic_Mode  Boutique1  1234   55550
2              Boutique      Class  Boutique2  5678   80000
3              Boutique  Chez Diop  Boutique3  9012   65000
4           Particulier     Amadou       Diop  1111  300000
5           Particulier   Aïssatou        Sow  2222  450000
6           Particulier      Kwame     Appiah  3333  600000
7           Particulier  Fatoumata     Diallo  4444  350000
8           Particulier    Ibrahim     Traoré  5555  700000
9           Particulier      Amina      Toure  6666  550000
10          Particulier  Abdoulaye      Barry  7777  400000
11          Particulier   Kadiatou     Camara  8888  750000
12          Particulier   Boubacar      Keïta  9999  480000
13          Particulier      Aïcha     Konaté  1010  520000
14          Particulier      Samba     Ndiaye  1212  680000
15          Particulier   Aïssatou     Diallo  1313  604450

C:\Users\MOHAMED RENDJAMBE\AppData\Local\Temp\ipykernel_14140\2100953427.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ARTICLES = pd.read_sql(query, conn) #.set_index('Code_p')
C:\Users\MOHAMED RENDJAMBE\AppData\Local\Temp\ipykernel_14140\2100953427.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  CB = pd.read_sql(query1, conn)

# PAIEMENT FACTURE